body {
  background-color: #f5f5f5;
}

.test1 {
  border: 5px solid #000;
  margin: 2px;
  padding: 2px;
}
#content-wrap {
  border-color: blue;
}
#left-sidebar {
  width: 30%;
  float: left;
  border-color: red;
}

#content {
  border-color: green;
  padding-left: 33%;
}
#content div {
  border-color: lightgreen;
}

.page-block {
  display:none;
  background-color: white;
  padding: 24px;
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
#my-picture {
  border-radius: 50%;
}
#motto {
  color: darkgreen;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  padding: 5px 15px 5px 15px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}

.favorite {
  font-weight: bold;
}

#footer {
  clear: both;
}
